body {
    background: radial-gradient(circle, #000, #111);
    color: #0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
}

.radio {
    background: #000;
    padding: 25px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 20px #0f0;
}

audio {
    width: 100%;
}
